__pycache__/
/env
/tests
/build
/dist
*.egg-info/

/media/images
/media/Tex
/media/texts
/media/videos/bloom/1080p60/partial_movie_files
/presentation

/.vscode

slides/

.manim-slides.json


images/

docs/build/

docs/source/_static/slides_assets/

docs/source/_static/slides.html

manim_venv

.github

../genomics_ds_project